.backgroundimage {
  background-color: #EFEEFB;
  background-image: url('./assets/Group 106223.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
}

  .Bgimage{
      width: 100%;
      top:50%;
      left: 50%;
      transform: translate(-50% -50%);
  }
  body {
    font-family: 'Poppins', sans-serif;
}